# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
terraform.lock.hcl

# External Repositories
cloned-repos/*
!cloned-repos/.gitkeep

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.ipynb

# Python
__pycache__/
*.py[cod]
*$py.class

# OS
Thumbs.db
Desktop.ini

# IDEs
.vscode/
.idea/
